# .NET Core
**/bin/
**/obj/
*.user
*.suo
*.userprefs
*.lock.json
*.csproj.user
*.ncrunchsolution
*.ncrunchproject
*.dotCover
*.vs/
*.swagger

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# React
/.pnp
.pnp.js
/build/
/.env
.eslintcache
/coverage

# IDE
.idea/
.vscode/

# Database
**/appsettings.Development.json
**/Migrations/
*.db
*.mdf
*.ldf

# NuGet
**/packages/
*.nupkg